<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!-- ezcosplay sandbox - sk_test_268ace34-708b-4505-b33f-cb12bc950675 -->
    <!-- mine sandbox - sk_test_7df36bd6-6721-4d0b-9cce-883a850ea0af -->
    <add key="Checkout.PublicKey" value="pk_test_67b6e002-7cf4-4bea-80b7-89b8e0650c92"/>
    <!-- personal sandbox -->
    <add key="Checkout.SecretKey" value="sk_test_7df36bd6-6721-4d0b-9cce-883a850ea0af"/>
    <add key="Checkout.RequestTimeout" value="20"/>
    <add key="Checkout.MaxResponseContentBufferSize" value="9999999"/>
    <add key="Checkout.DebugMode" value="true"/>
    <add key="Checkout.Environment" value="Sandbox"/>
  </appSettings>
</configuration>